<ion-view view-title="Downloads">
  <ion-content>
      <div id="hero">
          <div id="output">
              <div id="progressBar"></div>
              <!-- The video player will be added here -->
          </div>
          <!-- Statistics -->
          <div id="status">
              <div>
                  <span class="show-leech">Downloading </span>
                  <span class="show-seed">Seeding </span>
                  <code>
                      <!-- Informative link to the torrent file -->
                      <a id="torrentLink" href="https://webtorrent.io/torrents/sintel.torrent">sintel.torrent</a>
                  </code>
                  <span class="show-leech"> from </span>
                  <span class="show-seed"> to </span>
                  <code id="numPeers">0 peers</code>.
              </div>
              <div>
                  <code id="downloaded"></code>
                  of <code id="total"></code>
                  — <span id="remaining"></span><br/>
                  &#x2198;<code id="downloadSpeed">0 b/s</code>
                  / &#x2197;<code id="uploadSpeed">0 b/s</code>
              </div>
          </div>
      </div>
  </ion-content>
</ion-view>
