<ion-side-menus enable-menu-with-back-views="false">

    <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
        <ion-nav-back-button>
        </ion-nav-back-button>

        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>

    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar align-title="left" class="bar-dark">
            <h1 class="title logo"><i class="icon ion-android-film"></i> Premiere</h1>
        </ion-header-bar>

        <div class="list has-header">

            <a class="item item-icon-left item-icon-right" ng-href="#/app/home" menu-close >
                <i class="icon ion-android-film"></i>
                Movies
                <i class="icon ion-ios-arrow-forward"></i>
            </a>

            <!--a class="item item-icon-left item-icon-right" ng-click="openModal()"  menu-close >
                <i class="icon ion-ios-paper"></i>
                News
                <i class="icon ion-ios-arrow-forward"></i>
            </a>

            <a class="item item-icon-left item-icon-right" ng-href="#/app/favorites"  menu-close >
                <i class="icon ion-heart"></i>
                Favorites
                <i class="icon ion-ios-arrow-forward"></i>
            </a>

            <a class="item item-icon-left item-icon-right" ng-href="#/app/downloads"  menu-close >
                <i class="icon ion-android-download"></i>
                Downloads
                <i class="icon ion-ios-arrow-forward"></i>
            </a>

            <a class="item item-icon-left item-icon-right" ng-href="#/app/settings"  menu-close >
                <i class="icon ion-wrench"></i>
                Settings
                <i class="icon ion-ios-arrow-forward"></i>
            </a-->

            <!--a class="item item-icon-left item-icon-right" ng-href="#/app/credits"  menu-close>
                <i class="icon ion-code"></i>
                Credits
                <i class="icon ion-ios-arrow-forward"></i>
            </a-->

            <div class="item item-divider">
                <h6>Bor 2016</h6>
            </div>

        </div>
    </ion-side-menu>
</ion-side-menus>

