/* Empty. Add your own CSS if you like */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.item, .menu, .pane{
    background-color: #272727;
}

.item{
    border-color: #000;
}

a.item,
.item-divider h6{
    color: #fff;
}

.activated{
    background-color: #000 !important;
    border-color: #000 !important;
}

.logo {
    font-weight: bold;
    font-size: 1.7em !important;
}

.gallery {
    float: left;
    line-height: 0;
}
@media (max-width: 9000px) {
    .gallery {
        width:20%;
    }
}

@media (max-width: 700px) {
    .gallery {
        width:33.33%;
    }
}

@media (max-width: 550px) {
    .gallery {
        width:50%;
    }
}

.row h1{
    color: #fff;
}

.runtime{
    font-size: 0.6em;
}

.movie-details-panel{
    color: #fff;
    margin: 0 15px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.5);
}

.movie-details-panel h2,
.movie-details-panel h3,
.movie-details-panel h4,
.movie-details-panel h5{
    color: #fff;
}

.movie-details-panel .list a h2{
     color: #fff;
 }

.movie-details-panel .item{
    color: #4d4d4d;
    background: rgba(0, 0, 0, 0.3);
    border: none;
}